<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>不來恩的記帳本-@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />


    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div id="Wrapper">
        <div id="MyHeader">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("不來恩的記帳本", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                            <li>@Html.ActionLink("功能1(建構中)", "Unknown1", "Home")</li>
                            <li>@Html.ActionLink("功能2(建構中)", "Unknown2", "Home")</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div id="MyBody">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
        <hr />
        <div id="MyFooter">
            <footer>
                <p>&copy; @DateTime.Now.Year - 不來恩的記帳本</p>

            </footer>
        </div>

        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/Site.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
